body {
  margin: 0; }

.header {
  height: 30px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; }
  .header__price {
    margin-left: 10px; }
  .header__icon {
    color: white; }

.filter {
  border-bottom: 1px solid lightgray;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .filter__button {
    padding: 0 15px;
    height: 18px;
    border-radius: 9px;
    background-color: aquamarine;
    cursor: pointer;
    margin-right: 5px; }

.content {
  display: flex;
  justify-content: center; }
  .content__menu {
    width: 50%;
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    padding: 10px; }

.dish {
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
  display: flex;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.2); }
  .dish__img {
    height: 100%; }
  .dish__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
    .dish__info-text {
      max-height: 80%;
      padding: 5px 10px;
      box-sizing: border-box; }
    .dish__info-control {
      bottom: 0;
      height: 20%;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      box-sizing: border-box;
      align-items: center;
      width: 100%; }
      .dish__info-control-button {
        cursor: pointer;
        background-color: lightgreen;
        width: 100px;
        height: 80%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center; }

.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center; }
  .modal__window {
    width: 40%;
    height: 400px;
    background-color: wheat;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    position: relative; }
    .modal__window-close {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 3px solid red;
      cursor: pointer;
      top: -20px;
      right: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: wheat; }
      .modal__window-close i {
        color: red;
        font-size: 20px; }
    .modal__window-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }

.info {
  display: flex;
  align-items: center; }
  .info__img {
    width: 30%; }
  .info__description {
    margin-left: 10px; }

.action {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px; }
  .action__price {
    display: flex;
    flex-direction: column; }
  .action__confirm {
    display: flex;
    align-items: center; }
    .action__confirm .counter {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 80px; }
      .action__confirm .counter__action {
        cursor: pointer;
        font-weight: bold;
        font-size: 20px; }
      .action__confirm .counter__inp {
        outline: none;
        height: 25px;
        width: 30px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid black; }
    .action__confirm .confirm-button {
      height: 20px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: aquamarine; }

.cart-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center; }
  .cart-modal__window {
    width: 50%;
    min-height: 100px;
    max-height: 50%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
    background-color: white; }

.cart-item {
  width: 90%;
  margin: 10px 5%;
  height: 70px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box; }
  .cart-item__info {
    width: 70%;
    display: flex;
    align-items: center; }
    .cart-item__info-name {
      display: block;
      margin-right: 10px;
      font-weight: bold;
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default; }
    .cart-item__info-price {
      margin-right: 15px;
      font-weight: bold;
      font-size: 20px; }
    .cart-item__info-count {
      font-weight: bold;
      font-size: 20px; }
  .cart-item__delete {
    cursor: pointer;
    color: red;
    font-size: 30px; }
